<%=stylesheet "app_video_library"%>
<%=javascript "videos"%>
<%content_for(:title) {"Video Library | urappzone gives you private video library online."}%>
<%content_for(:meta) do%>
<meta name="description" content="Your private video library online, organize, save and share favorite videos | urappzone"> 
<%end%>

<div class="container video_main" ng-controller="VideoLibrary">
  <%if !user_signed_in? %>
    <div class="alert alert-warning">
      <p>
        Get an account to build your online video library.
        <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#signup-modal">Sign up now</a>
        <span class="fantasy"> Or sign in with</span>
        <a href=<%=user_omniauth_authorize_path(:facebook)%> title="sign in Ur App Zone with facebook">
          <img class="sign_in_with_facebook" src="/img/icons/sign-in-with-facebook-icon.jpg" alt="sign in Ur App Zone with facebook">
        </a>
        <a href=<%=user_omniauth_authorize_path(:linkedin)%> title="sign in Ur App Zone with linkedin">
          <img class="sign_in_with_linkedin" src="/img/icons/sign-in-with-linkedin-icon.png" alt="sign in Ur App Zone with linkedin">
        </a>
        <a href=<%=user_omniauth_authorize_path(:google_oauth2)%> title="sign in Ur App Zone with google">
          <img class="sign_in_with_google" src="/img/icons/sign-in-with-google-icon.png" alt="sign in Ur App Zone with google">
        </a>
      </p>
    </div>
  <%end%>
  <div class="well well-lg">
    <a class="add_new_video" data-toggle="modal" data-target="#newVideoModal" ng-click="newVideo()">
      Add a new video <%= "to Public Library" unless user_signed_in?%>
    </a>
    <span class="alert alert-info">
       Supported major video streaming websites: <b>YouTube</b>, <b>Vimeo</b> etc.
    </span>

  </div>
  
  <%if user_signed_in?%>
    <%= render "user_library"%>
  <%end%>
  <%= render "public_library" %>
  <%= render "modal"%>
</div>
