<form class="form-horizontal upload_form" role="form" ng-show="!processing">
  <div class="form-group">
    <label for="docTitle" class="col-sm-3 control-label">Title</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="docTitle" placeholder="Enter title..." ng-model="<%=doc%>.title" ng-change="<%=doc%>ReadyCheck()" autofocus="autofocus">
    </div>
    <div class="col-sm-2 no_left_padding" ng-hide="<%=doc%>.title">
      <p class="text-danger">*require</p>
    </div>
  </div>

  <div class="form-group">
    <label for="docDescription" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-7">
      <textarea class="form-control" id="docDescription" rows="3" placeholder="Enter description..." ng-model="<%=doc%>.description" ng-change="<%=doc%>ReadyCheck()"></textarea>
    </div>
    <div class="col-sm-2 no_left_padding" ng-hide="<%=doc%>.description">
      <p class="text-danger">*require</p>
    </div>
  </div>

  <div class="form-group">
    <label for="docFile" class="col-sm-3 control-label">My document</label>
    <div class="col-sm-7">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" id="docFile" ng-file-select="onFileSelect($files)" accept=".pdf, .doc, .docx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></span>
        <span class="fileinput-filename"></span>
        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
      </div>
    </div>

    <%if doc == "newDoc" %>
      <div class="col-sm-2 no_left_padding" ng-hide="file">
        <p class="text-danger">*require</p>
      </div>
    <%end%>

  </div>

  <%if user_signed_in?%>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="<%=doc%>.to_public" ng-checked="<%=doc%>.to_public"> Public
        </label>
      </div>
    </div>
  </div>
  <%end%>
  
</form>

<div class="text-center" ng-show="processing">
  <img src="/img/icons/processing.gif" alt="processing">
</div>