<%=stylesheet "app_user_profile"%>
<div class="well well-large">
  <div class="container">
    <h2 class="well">Login</h2>

    <form accept-charset="UTF-8" action="/users/sign_in" class="new_user form-horizontal" id="new_user" method="post">

     <input name="utf8" type="hidden" value="&#x2713;">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
       <div class="form-group">
        <label for="user_email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-4">
          <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
             <input type="email" class="form-control" autofocus="autofocus" name="user[email]" id="user_email" placeholder="Enter your email">
           </div>
        </div>
      </div>

      <div class="form-group">
        <label for="user_password" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-4">
          <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
             <input type="password" class="form-control" name="user[password]" id="user_password" placeholder="Enter your password">
           </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="checkbox">
            <label>
            <input name="user[remember_me]" type="hidden" value="0">
              <input type="checkbox" id="user_remember_me" name="user[remember_me]" value="1" > Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-offset-1">
        <input class="btn btn-primary" name="commit" type="submit" value="Login">
        <span class="fantasy"> Or sign in with</span>
        <a href=<%=user_omniauth_authorize_path(:facebook)%> title="sign in Ur App Zone with facebook">
          <img class="sign_in_with_facebook" src="/img/icons/sign-in-with-facebook-icon.jpg" alt="sign in Ur App Zone with facebook">
        </a>
        <a href=<%=user_omniauth_authorize_path(:linkedin)%> title="sign in Ur App Zone with linkedin">
        <img class="sign_in_with_linkedin" src="/img/icons/sign-in-with-linkedin-icon.png" alt="sign in Ur App Zone with linkedin">
        </a>
        <a href=<%=user_omniauth_authorize_path(:google_oauth2)%> title="sign in Ur App Zone with google">
        <img class="sign_in_with_google" src="/img/icons/sign-in-with-google-icon.png" alt="sign in Ur App Zone with google">
        </a>
      </div>
    </form>    
    <br>
    <div class="col-sm-offset-1">
      <a class="btn btn-primary" href="/users/sign_up">Go to sign up</a><br />
    </div>
    <hr>
    <div class="alert alert-warning">
      <p>
        <a href="/users/password/new">Forgot your password?</a>
      </p>
      <p>
        <a href="/users/confirmation/new">Didn&#39;t receive confirmation instructions?</a>
      </p>
    </div>
  </div>
</div>