<!DOCTYPE html>
<html ng-app="jl">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Ur App Zone makes your life easier! | urappzone"%></title>
  <%= stylesheet_link_tag "application"%>
  <%= content_for?(:mycss) ? yield(:mycss) : stylesheet_link_tag("app_welcome")%>
  <%= content_for?(:meta) ? yield(:meta) : ""%>
  <%= render 'shared/meta'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-controller="HomeController">
<%= render 'shared/header'%>
<%= yield %>
<%= render 'shared/footer'%>
<%= render 'shared/modal'%>
</div>

<%= javascript_include_tag "application"%>
<%= content_for?(:myjs) ? yield(:myjs) : javascript_include_tag("welcome")%>
</body>
</html>
